#navigation{
    background-color: map-get($colors, bg);    
    text-align: center;
    color: map-get($colors, normalText);
    
    nav{
        line-height: 8rem;
    }
    
    h2{
        display: block;
        float: left;
        font-size: 3rem;
        font-weight: 700;
//        line-height: 6rem;
    }
    
    ul{
        display: block;
        float: right;
        list-style: none;
        
        li{
            font-family: 'Lato', sans-serif;
            font-size: 1.5rem;
            font-weight: normal;
            display: block;
            float: left;
            padding: 0 1.5rem 0 1.5rem;
//            line-height: 6rem;
            text-transform: uppercase;
            
            &:hover, &:active{
                color: map-get($colors, hover);
                cursor: pointer;
            }
        }
    }
        
    
}







//Przykłady SASS !!!!!!!!!

//body {
//    background-color: beige;
//    color: black;
//}
//
//h2 {
//    font-size: 30px;
//    color: orange;
//}
//
//section{
//    padding-top: $top;
//    padding-bottom: $bottom;
//}
//
//ul.menu, h1{
//    color: $colorOne;
//}
//
//ul.menu {
//    color: $colorTwo;
//    
//    li{
//        display: inline-block;
//        padding-left: $left;
//    }
//}
//
//header {
//    border: 2px solid $colorOne;
//}
//
//.main-width{
//    width: $width;
//    margin: 0 auto;
//}
//
//ul.links {   
//    li{
//        color: blue;
//        
//        &:first-child {
//            a {
//                color: orange;
//            }
//        }
//        
//        &:last-child {
//            a {
//                color: green;
//            }
//        }
//        
//        a {  
//            text-decoration: none;
//            font-size: 20px;
//            &:hover {
//                color: red;
//            }
//        }
//    }
//}
//
//footer ul.menu{
//    li{ 
//        float: left;
//        margin: 0 10px;
//        padding: 10px;
//        background-color: yellow;
//        color: red;
//        @include borderRadius(20px); //wywołanie MIXIN
//        
//        &:hover {
//            background-color: aqua;
//        }
//        
//        &:last-child {
//            float: right;
//        }
//    }   
//}
//
//
//.success{
//    @extend %box;
//    background-color: map-get($colors, color1); //korzystanie z mapy
//}
//
//.error{
//    @extend %box;
//    background-color: map-get($colors, color2);
//    //korzystanie z mapy
//}
//
//.info{
//    @extend %box;
//    background-color: map-get($colors, color3);
//    //korzystanie z mapy
//}